<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>

<body>{% extends "layout/base_donatur.html" %} {% load static %} {% block content %}
<div class="py-5 filter-gradient" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-6 text-white">
        <h1 class="text-center text-md-left display-3 text-light">Tambah
          <br>Beasiswa Baru dari Paket</h1>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-5">
            <h3 class="pb-3">Menambah Beasiswa Baru</h3>
            <form action="{% url 'simbion_core:simbion_beasiswadaripaket' %}">
              <div class="form-group">
                <label class="text-light">Kode Beasiswa</label>
                <input type="text" class="form-control" id="kode" name="kode" required> </div>
              <div class="form-group">
                <label class="text-light">Nomor Urut</label>
                <input type="text" class="form-control" id="nomor" name="nomor" required> </div>
              <div class="form-group">
                <label class="text-light">Tanggal Mulai Pendaftaran</label>
                <input type="text" class="form-control" id="tgl_mulai" name="tgl_mulai" required> </div>
              <div class="form-group">
                <label class="text-light">Tanggal Tutup Pendaftaran</label>
                <input type="text" class="form-control" id="tgl_tutup" name="tgl_tutup" required> </div>
              <br>
              <a class="btn text-center btn-block btn-lg py-1 justify-content-center align-items-center align-self-center btn-info" href="#" data-toggle="modal">Submit</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
{% endblock %}