<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>

<body>{% extends "layout/base_donatur.html" %} {% load static %} {% block content %}
<div class="py-5 filter-gradient" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-6 text-white">
        <h1 class="text-center text-md-left display-3 text-light">Paket
          <br>Beasiswa
          <br>Baru</h1>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-5">
            <h3 class="pb-3">Buat Paket Beasiswa Baru</h3>
            <form action="{% url 'simbion_core:simbion_paketbeasiswabaru' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label class="text-light">Kode</label>
                <input type="text" class="form-control" id="kode" name="kode" required> </div>
              <div class="form-group">
                <label class="text-light">Nama Paket Beasiswa</label>
                <input type="text" class="form-control" id="nama" name="nama" maxlength="50" required> </div>
              <div class="form-group">
                <label class="text-light">Jenis Paket Beasiswa</label>
                <input type="text" class="form-control" id="jenis" name="jenis" maxlength="20" required> </div>
              <div class="form-group">
                <label class="text-light">Deskripsi</label>
                <input type="text" class="form-control" id="jenis" name="jenis" maxlength="50" required> </div>
              <div class="form-group">
                <label class="text-light">Syarat Beasiswa</label>
                <input type="text" class="form-control" id="syarat" name="syarat" maxlength="50" required> </div>
              <br>
              <button type="submit" class="btn text-center btn-block btn-lg py-1 justify-content-center align-items-center align-self-center btn-info" href="#" data-toggle="modal">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}
</body>

</html>