<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>

<body>{% extends "layout/base_donatur.html" %} {% load static %} {% block content %}
  <div class="py-5 filter-dark" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');background-repeat:repeat-x;background-position:center top;background-size:fit;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Membuat Beasiswa Baru</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr class="bg-info"> </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="align-self-center col-md-6 p-1">
          <div class="card">
            <div class="card-block p-5 bg-light" style="background-image: url('-');">
              <hr class="bg-info">
              <br>
              <a href="{% url 'simbion_core:simbion_paketbeasiswabaru' %}" class="btn w-100 py-4 btn-lg btn-info">Membuat Paket Beasiswa Baru</a>
              <br>
              <br>
              <hr class="bg-info"> </div>
          </div>
        </div>
        <div class="align-self-center col-md-6 p-1">
          <div class="card">
            <div class="p-5 border-light bg-light">
              <hr class="bg-info">
              <br>
              <a href="{% url 'simbion_core:simbion_beasiswadaripaket' %}" class="btn w-100 py-4 btn-lg btn-info">Menambahkan Beasiswa dari Paket</a>
              <br>
              <br>
              <hr class="bg-info"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr class="bg-info"> </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> {% endblock %}
</body>

</html>