<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>

<body>{% extends "layout/base_mahasiswa.html" %} {% load static %} {% block content %}
  <div class="py-5 bg-secondary filter-dark" style="background-image: url('../../simbion/static/img/artikel-1-1-564x350.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Informasi Beasiswa</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 bg-primary" style="background-image: url(&quot;-&quot;);">
    <div class="container">
      <div class="row">
        <div class="p-3 align-self-center col-md-12">
          <div class="card">
            <div class="card-block p-5 bg-secondary border border-light">
              <h2 class="text-light">[Nama Skema Beasiswa] - [Kode Skema Beasiswa]</h2>
              <br>
              <hr class="bg-light">
              <br>
              <h4 class="text-light">[Jenis Skema Beasiswa] dibuat oleh [nomor_identitas_donatur]
                <br>
                <br>[Ini adalah deskripsi, hanya terdiri dari 50 karakter saja.
                <br>Tidak usah banyak banyak, hanya menjelaskan beasiswa tersebut]
                <br>
                <br>Syarat Beasiswa : [syarat]</h4>
              <br>
              <hr class="bg-light">
              <br>
              <p align="center">
              <a href="{% url 'core:simbion_formdaftarmahasiswa' %}" class="btn btn-lg btn-info border border-light">Daftar Beasiswa Ini</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br> {% endblock %}
</body>

</html>