{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>
    <link rel="stylesheet" href="{% static 'core/css/theme2.css' %}" type="text/css"> </head>
    <title> {% block subtitle %} {% endblock %} {% block title %} SIMBION {% endblock %} </title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">SIMBION</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <a class="btn navbar-btn mx-2 btn-outline-secondary text-info" href="{% url 'core:index' %}">Home</a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center filter-dark" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-info text-uppercase">Daftar sebagai</h1>
          <a href="#mahasiswa" class="btn btn-lg mx-1 btn-primary">Mahasiswa</a>
          <a href="#donatur" class="btn btn-lg btn-primary mx-1">Donatur</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 filter-gradient" >
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="justify-content-center col-xl-12">
          <div class="card text-white p-5 bg-info">
            <div class="card-body" id="mahasiswa">
              <h1 class="mb-4">FORM PENDAFTARAN MAHASISWA</h1>

              <form action="{% url 'core:register_mahasiswa' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" name="username" id="username" class="form-control" maxlength="20" placeholder="Username" required> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" id="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                         placeholder="Min 8, Max 20. Case sensitive. Terdiri dari angka dan huruf" maxlength="20" required> </div>
                <div class="form-group">
                  <label>NPM</label>
                  <input type="text" name="npm" id="npm" pattern="[0-9]+" placeholder="NPM" class="form-control" maxlength="20" title="Hanya terdiri dari angka" required> </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email" maxlength="50" required> </div>
                <div class="form-group">
                  <label>Nama Lengkap</label>
                  <input type="text" name="nama" id="nama" placeholder="Nama Lengkap" class="form-control" maxlength="50" required> </div>
                <div class="form-group">
                  <label>Nomor Telepon</label>
                  <input type="text" name="notelp" id="notelp" placeholder="Nomor Telepon" pattern="[0-9]+" title="Hanya terdiri dari angka" maxlength="20" class="form-control" > </div>
                <div class="form-group">
                  <label>Alamat Tempat Tinggal</label>
                  <input type="text" name="alamat_tinggal" id="alamat_tinggal" placeholder="Alamat Tempat Tinggal" maxlength="50" class="form-control" required> </div>
                <div class="form-group">
                  <label>Alamat Domisili</label>
                  <input type="text" name="alamat_domisili" id=alamat_domisili" placeholder="Alamat Domisili" maxlength="50" class="form-control" required> </div>
                <div class="form-group">
                  <label>Instansi Bank</label>
                  <input type="text" name="bank" id="bank" placeholder="Instansi Bank" maxlength="50" class="form-control" required> </div>
                <div class="form-group">
                  <label>Nomor Rekening</label>
                  <input type="text" name="no_rek" id="no_rek" placeholder="Nomor Rekening" maxlength="20" title="Hanya terdiri dari angka" pattern="[0-9]+" class="form-control" required> </div>
                <div class="form-group">
                  <label>Nama Pemilik</label>
                  <input type="text" name="nama_pemilik" id="nama_pemilik" placeholder="Nama Pemilik" maxlength="20" class="form-control" required> </div>
                <button type="submit" class="btn btn-success text-white">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 text-center bg-light filter-light" style="background-image: url('https://pingendo.github.io/templates/sections/assets/stories_5.jpg');" id="donatur">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-info">
            <b>PENDAFTARAN DONATUR</b>
          </h1>
          <p class="lead mb-5">Daftar sebagai</p>
          <a href="#individual" class="btn btn-lg mx-1 btn-secondary">INDIVIDUAL DONATUR</a>
          <a href="#yayasan" class="btn btn-lg mx-1 btn-secondary">YAYASAN DONATUR</a>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 filter-gradient" >
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="justify-content-center col-xl-12">
          <div class="card text-white p-5 bg-light">
            <div class="card-body" id="individual">
              <h1 class="mb-4 text-info">FORM PENDAFTARAN INDIVIDUAL DONATUR</h1>

              <form action="{% url 'core:register_individual' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-info">
                  <label>Username</label>
                  <input type="text" name="usernameIn" id="usernameIn" placeholder="Username" class="form-control" maxlength="20" required> </div>
                <div class="form-group text-info">
                  <label>Password</label>
                  <input type="password" name="passwordIn" id="passwordIn" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                         placeholder="Min 8, Max 20. Case sensitive. Terdiri dari angka dan huruf" maxlength="20" required> </div>
                <div class="form-group text-info">
                  <label>Nomor Identitas</label>
                  <input type="text" name="no_idIn" id="no_idIn" placeholder="Nomor Identitas" title="Hanya terdiri dari angka" pattern="[0-9]+" class="form-control" maxlength="20" required> </div>
                <div class="form-group text-info">
                  <label>NIK</label>
                  <input type="text" name="nikIn" id="nikIn" pattern="[0-9]+" title="Hanya terdiri dari angka" class="form-control" maxlength="16" minlength="16"
                         title="Harus terdiri dari 16 digit angka" placeholder="Harus terdiri dari 16 digit angka" required> </div>
                <div class="form-group text-info">
                  <label>Email</label>
                  <input type="email" name="emailIn" id="emailIn" placeholder="Email" class="form-control" maxlength="50" required> </div>
                <div class="form-group text-info">
                  <label>Nama Lengkap</label>
                  <input type="text" name="namaIn" id="namaIn" placeholder="Nama Lengkap" class="form-control" maxlength="50" required> </div>
                <div class="form-group">
                  <label class="text-info">NPWP</label>
                  <input type="text" name="npwpIn" id="npwpIn" placeholder="NPWP" maxlength="20" title="Hanya terdiri dari angka" pattern="[0-9]+" class="form-control" required> </div>
                <div class="form-group text-info">
                  <label>Nomor Telepon</label>
                  <input type="text" name="notelpIn" id="notelpIn" placeholder="Nomor Telepon" pattern="[0-9]+" title="Hanya terdiri dari angka" maxlength="20" class="form-control" > </div>
                <div class="form-group text-info">
                  <label>Alamat Lengkap</label>
                  <input type="text" name="alamatIn" id="alamatIn" placeholder="Alamat Lengkap" maxlength="50" class="form-control" required> </div>
                <button type="submit" class="btn text-white btn-success">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 filter-gradient" >
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="justify-content-center col-xl-12">
          <div class="card p-5 text-secondary bg-info">
            <div class="card-body" id="yayasan">
              <h1 class="mb-4 text-secondary">FORM PENDAFTARAN YAYASAN DONATUR</h1>

              <form action="{% url 'core:register_yayasan' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-secondary">
                  <label>Username</label>
                  <input type="text" name="usernameYa" id="usernameYa" placeholder="Username" class="form-control" maxlength="20" required> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="passwordYa" id="passwordYa"class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                         placeholder="Min 8, Max 20. Case sensitive. Terdiri dari angka dan huruf" maxlength="20" required> </div>
                <div class="form-group">
                  <label>Nomor Identitas</label>
                  <input type="text" name="no_idYa" id="no_idYa" placeholder="Nomor Identitas" title="Hanya terdiri dari angka" pattern="[0-9]+" class="form-control" maxlength="20" required> </div>
                <div class="form-group">
                  <label>No SK Yayasan</label>
                  <input type="text" name="no_skYa" id="no_skYa" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                         placeholder="Min 8, Max 20. Case sensitive. Terdiri dari angka dan huruf" maxlength="20" required> </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="emailYa" id="emailYa" placeholder="Email" class="form-control" maxlength="50" required> </div>
                <div class="form-group">
                  <label>Nama Yayasan</label>
                  <input type="text" name="namaYa" id="namaYa" placeholder="Nama Yayasan" class="form-control" maxlength="50" required> </div>
                <div class="form-group">
                  <label>Nomor Telepon Contact Person</label>
                  <input type="text" name="notelpYa" id="notelpYa" title="Hanya terdiri dari angka" placeholder="Nomor Telepon Contact Person" pattern="[0-9]+" maxlength="20" class="form-control" > </div>
                <div class="form-group">
                  <label>NPWP</label>
                  <input type="text" name="npwpYa" id="npwpYa" placeholder="NPWP" title="Hanya terdiri dari angka" maxlength="20" pattern="[0-9]+" class="form-control" required> </div>
                <div class="form-group">
                  <label>Alamat Yayasan</label>
                  <input type="text" name="alamatYa" id="alamatYa" placeholder="Alamat Yayasan" maxlength="50" class="form-control" required> </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="text-white bg-light" id="kontak">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h3 class="display-1 text-secondary">SIMBION</h3>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4 text-secondary">Kontak kami</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@simbion.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>2016 Pacil</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 Kelompok 12 - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>