<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>

<body>{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="{% static 'core/css/theme1.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/css/theme2.css' %}" type="text/css">
  <link rel="icon" href="js/navbar-ontop.js">
  <title> {% block subtitle %} {% endblock %} {% block title %} SIMBION {% endblock %} </title>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">SIMBION</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav text-info">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#listbeasiswa">List Beasiswa</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#definisi">Informasi</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#kontak">Kontak Kami</a>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 btn-outline-secondary text-info" href="{% url 'core:login' %}">Login</a>
        <a class="btn navbar-btn mx-2 btn-outline-secondary text-info" href="{% url 'core:simbion_register' %}">Daftar</a>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="py-5 text-center filter-light" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-secondary">
            <b>SIMBION</b>
          </h1>
          <p class="lead mb-5 text-center text-info">Sistem informasi berbasis TI yang digunakan oleh Pelamar/Pendaftar Beasiswa, Pendonor, dan Pengelola dalam mengelola segala proses yang terkait (Pendaftaran, Operasional, Laporan, dll) untuk setiap Paket Beasiswa.</p>
          <a href="{% url 'core:simbion_register' %}"
            class="btn btn-lg mx-1 btn-secondary">Daftar</a>
          <a href="{% url 'core:login' %}" class="btn btn-lg mx-1 btn-secondary">Login</a>
        </div>
      </div>
    </div>
  </div>
 <div id="listbeasiswa" class="py-5 filter-gradient" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');background-repeat:repeat-x;background-position:center top;background-size:fit;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Daftar Beasiswa</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0 w-25">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
<div class="py-5 bg-primary" style="background-image: url('-');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th class="table-dark text-white">No </th>
            <th class="table-dark text-white">Nama Beasiswa</th>
            <th class="table-dark text-white">Waktu Tutup Pendaftaran </th>
            <th class="table-dark text-white">Status Beasiswa</th>
            <th class="table-dark text-white">Jumlah Pendaftar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-primary">1</td>
            <td class="table-primary">Beasiswa Contoh Aja</td>
            <td class="table-primary">[Tanggal Tutup Pendaftaran] </td>
            <td class="table-primary">[dibuka / ditutup] </td>
            <td class="table-primary"> [Jumlah Pendaftar beasiswa tersebut]</td>
          </tr>
          <tr>
            <td class="table-primary">2</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">3</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">4</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">5</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="py-5 text-left bg-secondary" id="definisi">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3 class="display-3 text-light">
            <b>DEFINISI</b>
          </h3>
          <p class="lead text-left text-light">
            <b class="text-info">Beasiswa</b> adalah bantuan yang diberikan kepada mahasiswa sebagai bentuk apresiasi prestasi mahasiswa ataupun berupa bantuan Biaya Pendidikan bagi mahasiswa yang mempunyai keterbatasan finansial. &nbsp;
            <br>
            <br>
            <b class="text-info">Paket Beasiswa</b> adalah sebuah penawaran Beasiswa dengan syarat dan ketentuan yang berlaku.&nbsp;
            <br>
            <br>
            <b class="text-info">Pelamar/Pendaftar</b> Beasiswa adalah seseorang yang membutuhkan Dukungan biaya pendidikan dan biaya penunjang pendidikan baik yang telah terdaftar sebagai Mahasiswa atau belum terdaftar sebagai Mahasiswa.&nbsp;
            <br>
            <br>
            <b class="text-info">Penerima Beasiswa</b> adalah Pelamar/Pendaftar Beasiswa yang sudah disetujui oleh Pengelola dan Pendonor dari suatu Paket Beasiswa. &nbsp;&nbsp;
            <br>
            <br>
            <b class="text-info">Pengelola </b>adalah pihak Universitas yang mengelola Paket Beasiswa. &nbsp;
            <br>
            <br>
            <b class="text-info">Donatur</b> adalah pihak yang memberikan Beasiswa. &nbsp;
            <br>
            <br>
            <b class="text-info">SIMBION</b> adalah sistem informasi berbasis TI yang digunakan oleh Pelamar/Pendaftar Beasiswa, Pendonor, dan Pengelola dalam mengelola segala proses yang terkait (Pendaftaran, Operasional, Laporan, dll) untuk setiap Paket Beasiswa.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-light" id="kontak">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h3 class="display-1 text-secondary">SIMBION</h3>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4 text-secondary">Kontak kami</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@simbion.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>2016 Pacil</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 Kelompok 12 - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/navbar-ontop.js"></script>
  <script src="js/animate-in.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>