{% extends "layout/base_mahasiswa.html" %}

{% load static %}

{% block content %}

<div class="py-5 filter-dark" style="background-image: url(&quot;https://preview.ibb.co/bwY6B7/laptop.jpg&quot;); background-size: auto; background-repeat: repeat; background-position: left top;" class="py-5 filter-light w-100 h-25">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-secondary text-center">
            <b>DAFTAR BEASISWA</b>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-secondary bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-white bg-info">
          <h1>Form Pendaftaran Beasiswa</h1>
          <p>Masukkan data diri anda</p>
          <form>
            <div class="form-group">
              <label for="InputEmail1">Kode Beasiswa</label>
              <select class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="InputName">NPM</label>
              <input type="text" class="form-control" id="InputName" placeholder="Your NPM"> </div>
            <div class="form-group">
              <label for="InputEmail1">Email</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="Your email"> </div>
            <div class="form-group">
              <label for="InputEmail1">Indeks Prestasi Semester (IPS)</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="Your IP"> </div>
            <p align="center">
            <button type="submit" class="btn btn-secondary">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}