<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/core/css/theme1.css">
  <link rel="stylesheet" href="../static/core/css/theme2.css">
  <link rel="stylesheet" href="../static/core/css/theme2.css">
  <link rel="stylesheet" href="../static/core/css/theme2.css">
</head>

<body>{% extends "layout/base_donatur.html" %} {% load static %} {% block content %}
  <div class="py-5 filter-dark" style="background-image: url(&quot;https://preview.ibb.co/bwY6B7/laptop.jpg&quot;); background-size: auto; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-info">
            <b>LIST PENDAFTAR</b>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-info" style="background-image: url(&quot;-&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-info">
          <table class="table">
            <thead class="table-info">
              <tr class="">
                <th class="text-white table-dark">No Urut Pendaftar
                  <br>
                </th>
                <th class="table-dark text-white">Nama</th>
                <th class="table-dark text-white">NPM</th>
                <th class="table-dark text-white">Waktu Daftar</th>
                <th class="table-dark text-white">Status Terima</th>
                <th class="table-dark text-white">Pilih</th>
              </tr>
            </thead>
            <tbody class="bg-danger text-info">
              <tr>
                <td class="table-primary">1</td>
                <td class="table-primary">Ini Contoh</td>
                <td class="table-primary">123456</td>
                <td class="table-primary">1 Januari 1970</td>
                <td class="table-primary"> Tidak Aktif</td>
                <td class="table-primary">
                  <div class="btn-group btn-group-lg bg-danger">
                    <a href="#" class="btn btn-outline-info" style="background-color: rgb(245, 246, 243); display: inline !important;">Terima</a>
                    <a href="#" class="btn btn-outline-primary">Tolak</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">2</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">
                  <div class="btn-group btn-group-lg bg-danger">
                    <a href="#" class="btn btn-outline-info" style="background-color: rgb(245, 246, 243); display: inline !important;">Terima</a>
                    <a href="#" class="btn btn-outline-primary">Tolak</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">3</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">
                  <div class="btn-group btn-group-lg bg-danger">
                    <a href="#" class="btn btn-outline-info" style="background-color: rgb(245, 246, 243); display: inline !important;">Terima</a>
                    <a href="#" class="btn btn-outline-primary">Tolak</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">4</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">
                  <div class="btn-group btn-group-lg bg-danger">
                    <a href="#" class="btn btn-outline-info" style="background-color: rgb(245, 246, 243); display: inline !important;">Terima</a>
                    <a href="#" class="btn btn-outline-primary">Tolak</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">5</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">....</td>
                <td class="table-primary">.....</td>
                <td class="table-primary">
                  <div class="btn-group btn-group-lg bg-danger">
                    <a href="#" class="btn btn-outline-info" style="background-color: rgb(245, 246, 243); display: inline !important;">Terima</a>
                    <a href="#" class="btn btn-outline-primary">Tolak</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> {% endblock %}
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>