{% extends "layout/base_donatur.html" %}

{% load static %}

{% block content %}

<div class="py-5 filter-dark" style="background-image: url(&quot;https://preview.ibb.co/bwY6B7/laptop.jpg&quot;); background-size: auto; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-info">
            <b>LIST BEASISWA</b>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-info">
    <div class="container">
      <div class="row my-3">
        <div class="col-md-3">
          <div class="card bg-light">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">NO URUT SKEMA BEASISWA</span> 2 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">KODE SKEMA</span> 20172018 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">WAKTU PENUTUPAN</span> 31 Agustus 2018 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">STATUS</span> Dibuka</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">JUMLAH PENDAFTAR</span> 10</li>
            </ul>
            <div class="card-body">
              <p align="center">
              <a href="{% url 'core:simbion_listpendaftar' %}" class="btn btn-primary">PILIH</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-light">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center text-light">
                <span class="badge badge-pill w-100 badge-secondary">NO URUT SKEMA BEASISWA</span> 1 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">KODE SKEMA</span> 20172018 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">WAKTU PENUTUPAN</span> 31 April 2018 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">STATUS</span> Ditutup </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">JUMLAH PENDAFTAR</span> 15 </li>
            </ul>
            <div class="card-body">
              <p align="center">
                <a href="{% url 'core:simbion_listpendaftar' %}" class="btn btn-primary">PILIH</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-light">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">NO URUT SKEMA BEASISWA</span> 3 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">KODE SKEMA</span> 20182019</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">WAKTU PENUTUPAN</span> 31 Juli 2019</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">STATUS</span> Dibuka</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">JUMLAH PENDAFTAR</span> 5 </li>
            </ul>
            <div class="card-body">
              <p align="center">
              <a href="{% url 'core:simbion_listpendaftar' %}" class="btn btn-primary">PILIH</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-light">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">NO URUT SKEMA BEASISWA</span> 4 </li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">KODE SKEMA</span> 20182019</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">WAKTU PENUTUPAN</span> 31 Agustus 2019</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">STATUS</span> Dibuka</li>
              <li class="list-group-item text-center">
                <span class="badge badge-pill w-100 badge-secondary">JUMLAH PENDAFTAR</span> 25</li>
            </ul>
            <div class="card-body">
              <p align="center">
              <a href="{% url 'core:simbion_listpendaftar' %}" class="btn btn-primary">PILIH</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#">
                <span>«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span>»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}