<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../theme3.css"> </head>


<body>{% extends "layout/base_detailbeasiswa.html" %}{% load static %} {% block content %}
  <div class="py-5 bg-secondary filter-dark" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Informasi Beasiswa</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 bg-primary" style="background-image: url(&quot;-&quot;);">
    <div class="container">
      <div class="row">
        <div class="p-3 align-self-center col-md-12">
          <div class="card">
            <div class="card-block p-5 bg-secondary border border-light">
              <h2 class="text-light">[Nama Skema Beasiswa] - [Kode Skema Beasiswa]</h2>
              <br>
              <hr class="bg-light">
              <br>
              <h4 class="text-light">[Jenis Skema Beasiswa] dibuat oleh [nomor_identitas_donatur]
                <br>
                <br>[Ini adalah deskripsi, hanya terdiri dari 50 karakter saja.
                <br>Tidak usah banyak banyak, hanya menjelaskan beasiswa tersebut]
                <br>
                <br>Syarat Beasiswa : [syarat]</h4>
              <br>
              <hr class="bg-light">
              <br> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}