{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>
    <link rel="stylesheet" href="{% static 'core/css/theme1.css' %}" type="text/css"> </head>
    <link rel="stylesheet" href="{% static 'core/css/theme2.css' %}" type="text/css"> </head>
    <link rel="icon" href="js/navbar-ontop.js"> </head>
    <title> {% block subtitle %} {% endblock %} {% block title %} SIMBION {% endblock %} </title>
</head>

<body>
<header>
    {% include 'partials/header_mahasiswa.html' %}
</header>

<main id="wrap">
    <div class="py-4">
        <div class="container">
            {% for message in messages %}
            <div class="row">
                <div class="col-12">
                    <div class="alert {{ message.tags }} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer id="footer">
    {% include 'partials/footer.html' %}
</footer>
  <script src="js/navbar-ontop.js"></script>
  <script src="js/animate-in.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
