{% extends "layout/base_mahasiswa.html" %}

{% load static %}

{% block content %}

<div id="listbeasiswa" class="py-5 filter-gradient" style="background-image: url('https://content.cdntwrk.com/mediaproxy?url=https%3A%2F%2Fatmedia.imgix.net%2F4d58e062e66cfb64196d9acc58342300eaefb9fa%3Fw%3D1500%26fit%3Dmax&size=1&version=1522439771&sig=530fd8ea4703ba4246e560a523fde5a4&default=hubs%2Ftilebg-blogs.jpg');background-repeat:repeat-x;background-position:center top;background-size:fit;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Daftar Beasiswa</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0 w-25">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
<div class="py-5 bg-primary" style="background-image: url('-');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th class="table-dark text-white">No </th>
            <th class="table-dark text-white">Nama Beasiswa</th>
            <th class="table-dark text-white">Waktu Tutup Pendaftaran </th>
            <th class="table-dark text-white">Status Beasiswa</th>
            <th class="table-dark text-white">Jumlah Pendaftar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-primary">1</td>
            <td class="table-primary">Beasiswa Contoh Aja</td>
            <td class="table-primary">[Tanggal Tutup Pendaftaran] </td>
            <td class="table-primary">[dibuka / ditutup] </td>
            <td class="table-primary"> [Jumlah Pendaftar beasiswa tersebut]</td>
          </tr>
          <tr>
            <td class="table-primary">2</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">3</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">4</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          <tr>
            <td class="table-primary">5</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">.....</td>
            <td class="table-primary">....</td>
            <td class="table-primary">.....</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_6.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_2.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_3.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_1.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_5.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="#">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_4.jpg" class="img-fluid"> </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="py-5 text-left bg-secondary" id="definisi">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3 class="display-3 text-light">
            <b>DEFINISI</b>
          </h3>
          <p class="lead text-left text-light">
            <b class="text-info">Beasiswa</b> adalah bantuan yang diberikan kepada mahasiswa sebagai bentuk apresiasi prestasi mahasiswa ataupun berupa bantuan Biaya Pendidikan bagi mahasiswa yang mempunyai keterbatasan finansial. &nbsp;
            <br>
            <br>
            <b class="text-info">Paket Beasiswa</b> adalah sebuah penawaran Beasiswa dengan syarat dan ketentuan yang berlaku.&nbsp;
            <br>
            <br>
            <b class="text-info">Pelamar/Pendaftar</b> Beasiswa adalah seseorang yang membutuhkan Dukungan biaya pendidikan dan biaya penunjang pendidikan baik yang telah terdaftar sebagai Mahasiswa atau belum terdaftar sebagai Mahasiswa.&nbsp;
            <br>
            <br>
            <b class="text-info">Penerima Beasiswa</b> adalah Pelamar/Pendaftar Beasiswa yang sudah disetujui oleh Pengelola dan Pendonor dari suatu Paket Beasiswa. &nbsp;&nbsp;
            <br>
            <br>
            <b class="text-info">Pengelola </b>adalah pihak Universitas yang mengelola Paket Beasiswa. &nbsp;
            <br>
            <br>
            <b class="text-info">Donatur</b> adalah pihak yang memberikan Beasiswa. &nbsp;
            <br>
            <br>
            <b class="text-info">SIMBION</b> adalah sistem informasi berbasis TI yang digunakan oleh Pelamar/Pendaftar Beasiswa, Pendonor, dan Pengelola dalam mengelola segala proses yang terkait (Pendaftaran, Operasional, Laporan, dll) untuk setiap Paket Beasiswa.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}