  <div class="text-white bg-light" id="footer">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h3 class="display-1 text-secondary">SIMBION</h3>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4 text-secondary">Kontak kami</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@simbion.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>2016 Pacil</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 Kelompok 12 - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
