<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../../../theme3.css"> </head>

<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">SIMBION</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav text-info">
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'core:simbion_formdaftarmahasiswa' %}">Daftar Beasiswa</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'core:base_homepage_mahasiswa' %}">List Beasiswa</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#definisi">Informasi</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#footer">Kontak Kami</a>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 btn-outline-secondary text-info" href="{% url 'core:simbion_logout' %}">Logout</a>
      </div>
    </div>
  </nav>
</body>

</html>